<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Filtro:</div>
        </div>
        <input type="text" class="form-control me-2" placeholder="Filtrar por nome e minicurriculo"
          [formControl]="searchControl" />
      </div>
    </div>
  </div>
  @if (loading) {
  <div class="text-center my-4">
    <div class="spinner-border"></div>
  </div>
  }
  @if(!loading && palestrantes && palestrantes.length){
  <div class="row mt-2">
    <div class="col-md-4 mb-4 d-flex align-items-stretch" *ngFor="let palestrante of palestrantes">
      <div class="card">
        <div class="d-flex align-self-center pt-3 card-img-block">
          <img width="120" height="120" class="rounded-circle" [src]="getImagemUrl(palestrante.user.imagemUrl)" />
        </div>
        <div class="card-body">
          <div class="h4 text-center mb-3">
            {{ "@" + palestrante.user.userName }}
          </div>
          <div class="h7 text-bold pb-1">
            <b>Nome: </b>{{ palestrante.user.nome + " " + palestrante.user.sobrenome }}
          </div>
          <div class="h7">
            {{ palestrante.miniCurriculo }}
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-6 text-center border-right">
                <div class="h5">{{palestrante.user.totalEventosCriados}}</div>
                <div class="h6 text-muted">Meus Eventos criados</div>
              </div>
              <div class="col-6 text-center">
                <div class="h5">{{palestrante.user.totalEventosComoPalestrante}}</div>
                <div class="h6 text-muted">Eventos como palestrantes</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  }
  <div class="d-flex justify-content-between align-items-center mt-3">
    <div>
      <span> Exibindo {{ palestrantes.length }} de {{ total }} registros </span>
    </div>
    <div class="d-flex align-items-center gap-3">
      <div>
        <label class="me-2">Itens por página:</label>
        <select
          class="form-select d-inline w-auto"
          [value]="pageSize"
          (change)="onPageSizeChange($event)"
        >
          <option [value]="3">3</option>
          <option [value]="6">6</option>
          <option [value]="12">12</option>
        </select>
      </div>
    </div>
    <pagination
      [boundaryLinks]="true"
      [totalItems]="total"
      [itemsPerPage]="pageSize"
      (pageChanged)="pageChanged($event)"
      pageBtnClass="btn"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>