<div class="row g-3 mb-4">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <i class="fa fa-calendar fa-2x"></i>

                <h6 class="mt-3">
                    Total de eventos
                </h6>

                <h2>
                    {{cards?.totalEventos}}
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <i class="fa-solid fa-graduation-cap fa-2x"></i>

                <h6 class="mt-3">
                    Total de palestrantes
                </h6>

                <h2>
                    {{cards?.totalPalestrantes}}
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <i class="fa fa-handshake fa-2x"></i>

                <h6 class="mt-3">
                    Total de parceiros
                </h6>

                <h2>
                    {{cards?.totalParceiros}}
                </h2>
            </div>
        </div>
    </div>
</div>